{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- Kept for legacy status and future development if necessary. -->
<div class="container">
<h2>Hello, to select a Gambler Project please enter a title or select a project</h2>
  {{form.csrf_token }}
<form method="POST" id="GamblerNew" action="../select" enctype="multipart/form-data">
<div class="row"><p><div class="col-md-3 col-md-offset-4">{{wtf.form_field(form.gamblertitle)}} </div></p></div>

<p><input class="btn btn-primary" type="submit" value = "Start"></p>

</div>
</form>

{% endblock%}
{% block scripts %}
{{ super()}}
{% endblock %}
